@mixin flexContainer() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//This will calculate how much width is required for the container when you want to specify number of cards of specific width and height in the container
@mixin flexContainerWidth($cardWidth, $numberOfCards, $gap) {
    width: calc(($cardWidth*$numberOfCards) + ($gap*($numberOfCards - 1)));
}