@import "../../styles/mixins.scss";

.grid {
    /* display: grid;
    grid-template-columns: repeat(var(--cols, 10), 35px);
    grid-template-rows: repeat(var(--rows, 10), 35px); */
    @include flexContainer();
    @include flexContainerWidth(35px, 10, 5px);
    flex-wrap: wrap;
    gap: 5px;
    user-select: none;
}

.box {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: lightblue;
}